.container {
    width: 30vw;
    height: 50vh;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    border: 2px solid #0077ff;
    transform: skewX(-10deg);

}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form input {
    padding: 10px 15px;
    margin-top: 3vh;
    border: 2px solid #0077ff;
    border-radius: 15px;
}

.container form select {
    width: 15.6vw;
    padding: 10px 15px;
    border: 2px solid #0077ff;
    border-radius: 15px;
    margin-top: 20px;
}

.btnLinks {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin-top: 20vh;
}

.link {
    width: 50%;
    padding: 10px 20px;
    margin: 15vh;
    background-color: #0077ff;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;

}


.container:hover {
    transition: all .5s;
    box-shadow: 2px 2px 5px #0077ff,
    -2px 2px 5px #0077ff,
    2px -2px 5px #0077ff;
}